<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body ng-app='draftDota'>

    	<div ng-controller='Heroes'>
            <div class="draft-area clearfix" ng-controller="DraftArea">
                <div id="allies" class='draft-container'>
                    <div ng-repeat='ally in allies track by $index'>
                        <div class="placeholder-box" ng-if='!ally' ng-click='setHero($index, allies)'></div>
                        <hero-icon hero='ally' ng-if='ally' ></hero-icon>
                    </div>
                </div>
                <div id="opps" class='draft-container'>
                    <div ng-repeat='opp in opps track by $index'>
                        <div class="placeholder-box" ng-if='!opp' ng-click='setHero($index, opps)' ></div>
                        <hero-icon hero='opp' ng-if='opp'></hero-icon>
                    </div>
                </div>
            </div>

            <!-- <div class="suggested-heroes">
                <div  class='col-sm-2 col-md-2 col-lg-2 clearfix '>
                    <hero-icon hero='hero' ng-repeat='hero in heroes | farmPriority: 1'></hero-icon>
                </div>
                <div  class='col-sm-2 col-md-2 col-lg-2 clearfix'>
                    <hero-icon hero='hero' ng-repeat='hero in heroes | farmPriority: 2'></hero-icon>
                </div>
                <div  class='col-sm-2 col-md-2 col-lg-2'>
                    <hero-icon hero='hero' ng-repeat='hero in heroes | farmPriority: 3'></hero-icon>
                </div>
                <div  class='col-sm-2 col-md-2 col-lg-2'>
                    <hero-icon hero='hero' ng-repeat='hero in heroes | farmPriority: 4'></hero-icon>
                </div>
                <div  class='col-sm-2 col-md-2 col-lg-2'>
                    <hero-icon hero='hero' ng-repeat='hero in heroes | farmPriority: 5'></hero-icon>
                </div>

            </div> -->

            <div class='total-pool col-sm-12 col-md-12 col-lg-12'>
                <!-- in case i decide to refactor I could iterate over Object.keys(heroes) -->
                <hero-icon hero='key' ng-repeat='(key, value) in heroes'></hero-icon>
            </div>


    		<!-- <div ng-repeat="hero in heroes">
    			<pre>{{ hero }}</pre>
    		</div> -->
    	</div>

		<script src="js/lib/angular.js"></script>
		<script src="js/app.js"></script>
		<script src="js/factories/HeroesFactory.js"></script>
        <script src="js/factories/HeroesObj.js"></script>
		<script src="js/controllers/Heroes.js"></script>
        <script src="js/controllers/DraftArea.js"></script>
        <script src='js/directives/heroIcon.js'></script>
        <script src='js/filters/roles.js'></script>

    </body>
</html>